# OPENAI_API_KEY is required, rest is optional to change
OPENAI_API_KEY=sk-proj....
OPENAI_MODEL=gpt-5.4-mini-2026-03-17
PRIMARY_MODEL=gpt-5.4-mini-2026-03-17
FALLBACK_MODEL=google/gemini-3.7-flash
JUDGE_MODEL=gpt-5.4-mini-2026-03-17
PORT=3000
OPENROUTER_API_KEY=sk..